body
{
	background: #ddd;
	font-family: "Quando";
	text-align: center;
	padding: 0px;
}

.wrapper
{
	padding: 20px;
}

a
{
	color: #64B6B1;
	font-weight: bold;
}

a:hover, a:focus
{
	text-decoration: none;
	color: #666;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 
{
	padding: 0px;
}

.m0 { margin: 0px; }
.m10 { margin: 10px; }

.p0 { padding: 0px; }
.p10 { padding: 10px; }
.p10v { padding: 10px 0px; }
.p10h { padding: 0px 10px; }
.p20h { padding: 0px 20px; }
.p20v { padding: 20px 0px; }
.p20 { padding: 20px; }
.p1020 { padding: 10px 20px; }
.p2010 { padding: 20px 10px; }

.p40t {padding-top: 40px;}

.p4020 {
	padding: 40px 20px;
}

.p30 { padding: 30px; }
.p40 { padding: 40px; }

#logo
{
	height: 80px;
	width: auto;
	margin: 20px auto;
}

.item, .form
{
	padding: 0px;
	margin: 10px;
	text-align: left;
	box-shadow: 0px 2px 1px 0px #bbb;
}

.light .btn
{
	border-radius: 30px;
	background: #ffffff;
	border: 1px solid #ccc;
	color: #666;
	padding: 7px 13px;
	margin: 0px 20px 10px;
}

.green .btn
{
	border-radius: 30px;
	background: none;
	border: 1px solid #eee;
	color: #fff;
	padding: 7px 13px;
	margin: 0px 20px 10px;
}

.carousel .btn
{

}

.blue .btn
{
	border-radius: 30px;
	background: none;
	border: 1px solid #eee;
	color: #fff;
	padding: 7px 13px;
	margin: 0px 20px 10px;
}

.light
{
	background: #ffffff;
}

.dark
{
	background: #222;
}

.green
{
	background: #64B6B1;
}

.blue
{
	background: #367296;
}

.item h2 
{
	font-size: 24px;
	font-weight: 500;
	text-align: left;
}

.item .right p
{
	text-align: left;
}

.light h2 
{
	color: #444;
}

.light p
{
	color: #888;
	line-height: 1.5em;
}

.green h2 
{
	color: #fff;
}

.green p
{
	color: #eee;
	line-height: 1.5em;
}

.blue h2 
{
	color: #fff;
}

.blue p
{
	color: #eee;
	line-height: 1.5em;
}



.dark
{
	color: #fff;
}

.item ul
{
	line-height: 2em;
}

.dark ul
{
	color: #ddd;
}

.dark h2 
{
	color: #fff;
}

.dark p
{
	color: #eee;
	line-height: 1.5em;
}

.dark .btn
{
	border-radius: 30px;
	background: #222;
	border: 1px solid #fff;
	color: #fff;
	padding: 7px 13px;
	margin: 0px 20px 10px;
}

.dark .badge
{
	background: #ffffff;
	color: #333;
	font-weight: bold;
}

.light .badge
{
	background: #ccc;
}

li > ul
{
	margin-left: 20px;
}

.img-profile
{
	margin: 0px auto;
	z-index: 100;
	margin-top: -75px;
	border: 7px solid #fff;
	position: relative;
}

.profile
{
	text-align: center;
}

.profile h2
{
	text-align: center;
}

.login
{
	background: #fff;
}

.register
{
	background: #367296;
	color: white;
}

.btn
{
	font-weight: bold;
	font-size: 11px;
}

.form input[type=text], .form input[type=password]
{
	border-radius: 0px;
	border: none;
}

.login input[type=text], .login input[type=password]
{
	
	border: 1px solid #ddd;
}

.register input[type=text], .register input[type=password]
{
	
	border: 1px solid #fff;
	background: #367296;
	color: #ffffff;
}

.left .btn
{
	float: right;
}

.form h2
{
	font-size: 23px;
	font-weight: 500;
	text-transform: uppercase;
}

.comments
{
	background: #ffffff;
	margin: 0px 10px 10px;
	text-align: left;
	padding: 0px 30px 30px;	
	box-shadow: 0px 2px 1px 0px #409287;
}

.comments .comment
{
	color: #888;
	font-size: 15px;
	border-left: 5px solid #eee;
	padding: 10px 10px;
}

.comments .content
{
	font-size: 16px;
	color: #888;
}

.post, .event
{
	background: white;
	margin: 10px 10px 0px;
	text-align: center;
	padding: 20px 30px;
	padding: 0px;
	box-shadow: 0px 2px 1px 0px #409287;
}

.post h1, .event h1
{
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 600;
}

.post h4, .event h4
{
	font-size: 15px;
	color: #ccc;
	padding-top: 5px;
}

.post h4 > span, .event h4 > span
{
	color: #888 !important;
}

.post .content, .event .content
{
	font-size: 16px;
	line-height: 2.3em;	
	text-indent: 10px;
	padding: 10px 30px;
	color: #555;
	text-align: left;
}

.post .content p, .event .content p
{
	margin: 10px 0px;
}

@media(max-width: 600px)
{
	.wrapper
	{
		padding: 0px;
	}

	.m10, .item, .form, .post, .comments, .event
	{
		margin: 0px;
	}
}

@media(min-width: 601px) and (max-width: 1000px)
{
	wrapper
	{
		padding: 50px;
	}
}


.no-picture
{
	padding-top: 100px;
}

.post .content img, .event .content img
{
	width: 100%;
	height: auto;
}

 .google-maps {
position: relative;
padding-bottom: 40%; // This is the aspect ratio
height: 0;
overflow: hidden;
}
.google-maps iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}

 .google-maps-small {
position: relative;
padding-bottom: 60%; // This is the aspect ratio
height: 0;
overflow: hidden;
}
.google-maps-small iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}


.navbar {
	margin-bottom: 0px;
}

.navbar ul {
	margin-top: 40px;
}

.navbar-inverse {
	padding-bottom: 20px;
	padding-top: 0px;
	height: 150px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}

.navbar-inverse {
	background-color: #64B6B1;
	border: none;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
	font-size: 14px;
	font-weight: 600;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #222222;
}

.navbar-brand {
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.navbar-inverse .btn
{
	 margin: 5px 10px;
	 height: 30px;
	 padding: 5px 10px;
	 line-height: 22px !important;
}


.carousel-indicators
{
	text-align: right;
}

.carousel-indicators li,.carousel-indicators li.active 
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border-color: #aaa;
	border-width: 1px;
}

.carousel-indicators li.active 
{
	background: #eee;
}
.carousel {
  height: auto;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: auto;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}

.carousel h1
{
	font-size: 26px;
}

.carousel-caption
{
	top: 20px;
}

.share .btn
{
	font-size: 15px;
	border-radius: 40px;
	background: none;
	border: 1px solid #ccc;
	color: #777;
	width: 32px;
	height: 32px;
	text-align: center;
	padding: 5px;
}

.logo
{
	background: #64B6B1;
	height: 400px;
	text-align: center;
	padding: 40px;
}

#logo
{
	margin: 0px auto 70px;
	height: 150px !important;
	width: auto;
	margin-top: -20px;
}

.carousel
{
	margin: 0px;
}


body {
	background: #64B6B1;
}

.dark, .green, .blue
{
	box-shadow: 0px 2px 1px 0px #207267;
}

.item, .form
{
	box-shadow: 0px 2px 1px 0px #409287;
}

.navbar-inverse {
	background: #46433a;
	background: #64B6B1;
	border: none;
	box-shadow: 0px 2px 1px 0px #444;
	border: none;
	box-shadow: none;
}

.item
{
	position: relative;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font-size: 10px;
  font-weight: bold;
  color: #333;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 10px 0;
  left: -25px;
  top: 10px;
  width: 150px;
  background-color: #D9534F;
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}​

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form
{
	border: none;
	background: #64B6B1 !important;
}